<ion-view view-title="Login" name="login-view" class="masters">
    <ion-content class="padding">
        <div class="login-labels">
        <div class="heading-main">
            <p class="login-header">Welcome To Realtime Chat</p>
        </div>
        <div  class="heading-sub">
            <p>Using Firebase</p>
        </div>
        </div>
        <div class="list login-list">
            <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
           
        </div>




        <button class="button button-block button-calm" ng-click="login()">Login</button>

        </ion-content>
</ion-view>